@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";

@font-face {
  font-family: 'NeuzeitOffice-Regular';
  src:  url('../fonts/NeuzeitOffice-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeuzeitOffice-Regular.woff') format('woff'),
        url('../fonts/NeuzeitOffice-Regular.ttf')  format('truetype'),
        url('../fonts/NeuzeitOffice-Regular.svg#NeuzeitOffice-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: 'NeuzeitOffice-Regular', sans-serif;
}

.slides {
    width: 100vw;
    height: 100vh;

    .vegas-timer {
        top: 0;
    }
}

.logo-container {
    position: fixed;
    z-index: 1;
    width: 80px;
    top: 50px;
    left: 50px;

    img {
        width: 80px;
    }
}

.main-container {
    width: 450px;
    position: fixed;
    z-index: 1;
    float: right;
    top: 50px;
    right: 50px;

    a {
        &:link {
            text-decoration: none;
            color: #000;
        }

        &:hover {
            color: #137E67;
        }

        &:visited {
            color: #000;
        }
    }


    &-title {
        text-align: right;
        background-color: rgba(255, 255, 255, 0.6);
        padding: 6px 10px 0 20px;
        font-size: 30px;
        color: #000;
        margin-bottom: 5px;
    }
    
    &-detail {
        background-color: rgba(255, 255, 255, 0.6);
        padding: 3px 10px 0 10px;
        margin: 5px 0;
        font-size: 20px;
        color: #000;
        text-align: right;

        &-icon {
            padding-top: 3px;
            text-align: center;
            font-size: 25px;
            min-width: 30px;

        }

        &-text {
            margin-left: 10px;
        }

        .mail-icon {
            font-size: 20px;
            height: 30px;
        }
    }
}

footer {
    position: fixed;
    padding: 10px 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    width: 100%;

    .copyright {
        padding: 0 20px;
        font-size: 14px;
    }

    .social-media-box {
        text-align: right;

        &-icon {
            padding-left: 20px;
            font-size: 20px;
        }
    }
}

.display-middle {
    display: inline-block;
    vertical-align: middle;
}

