@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";

body {
    font-family: 'Josefin Slab', serif;
}

.slides {
    width: 100vw;
    height: 100vh;
}

.main-container {
    min-width: 420px;
    position: fixed;
    z-index: 1;
    float: right;
    top: 50px;
    right: 50px;

    a {
        &:link {
            text-decoration: none;
            color: #000;
        }

        &:hover {
            color: #137E67;
        }

        &:visited {
            color: #000;
        }
    }


    &-title {
        text-align: right;
        font-family: 'Dosis', sans-serif;
        background-color: rgba(255, 255, 255, 0.6);
        padding: 0 20px;
        font-size: 40px;
        color: #000;
        margin-bottom: 5px;
    }
    
    &-detail {
        background-color: rgba(255, 255, 255, 0.6);
        padding: 0 10px;
        margin: 5px 0;
        font-size: 20px;
        color: #000;
        text-align: right;

        &-icon {
            padding-top: 3px;
            text-align: center;
            font-size: 25px;
            min-width: 30px;

        }

        &-text {
            margin-left: 10px;
        }

        .mail-icon {
            font-size: 20px;
            height: 30px;
        }
    }
}

footer {
    position: fixed;
    padding: 10px 0;
    bottom: 2px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.display-middle {
    display: inline-block;
    vertical-align: middle;
}